/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 13, 2018, 12:17:35 AM
    Author     : AktbCode
*/

.side_btn{
    -fx-border-color: #FFF;
    -fx-border-radius: 10px;
}